[Desktop Entry]
Name=ViewTube Client
Exec=/home/Devel/Userscripts/ViewTube/Protocol/viewtube %u
Icon=mpv
Type=Application
Terminal=false
MimeType=x-scheme-handler/viewtube
